{% extends 'advert/base.html' %}
{% load humanize %}
{% block title %}
    {{ addvert.add_title }}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ addvert.subcategory.category.city.state | title }}</li>
    <li class="breadcrumb-item" aria-current="page"><a
            href="{% url 'city_view' addvert.subcategory.category.city.city_name %}">{{ addvert.subcategory.category.city | title }}</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">{{ addvert.subcategory.category | title }}</li>
    <li class="breadcrumb-item" aria-current="page"><a
            href="{% url 'add_view' addvert.subcategory.pk addvert.subcategory %}">{{ addvert.subcategory | title }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ addvert.add_title | title | truncatechars:35 }}</li>
{% endblock %}
{% block body %}
    <div class="container">
        <p>Posted on <span
                class="text-muted"><em>{{ addvert.posted_date | ordinal }}</em></span>
        </p>
        <h3>{{ addvert.add_title }} <span
                class="text-muted small"><em>({{ addvert.subcategory.category.city | title }})</em></span></h3>
        {% if addvert.image %}
            <img src="{{ addvert.image.url }}" alt="{{ addvert.add_title }}" class="img-fluid"><br>
            <small>image</small>
            <hr>
        {% endif %}
        <div class="text-justify">
            <p>{{ addvert.add_body }}</p>
        </div>
    </div>
{% endblock %}