{% extends 'advert/base.html' %}
{% block title %}
    {{ cities.city_name | title }}
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ cities.state | title }}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ cities.city_name | title }}</li>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md">
                <div class="row">
                    {% for foo in cat %}
                        <div class="col-md-2">
                            <ul class="list-inline cat-view-ul">
                                <h5 class="state">{{ foo.category_name | title }}</h5>
                                {% for sub_category in foo.get_sub_categories %}
                                    <li class="list-inline-item">
                                        <a href="{{ sub_category.pk }}/{{ sub_category.sub_category_name | slugify }}">{{ sub_category.sub_category_name | title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
