{% extends 'advert/base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md">
                <div class="row">
                    <ul class="home_ul">
                        {% for state in states %}
                            <h5 class="state">{{ state | title }}</h5>
                            <hr>
                            {% for city in state.get_cities %}
                                {#                                <li class="list-inline-item"><a#}
                                {#                                        href="{{ city.city_name | slugify }}">{{ city.city_name | title }}</a>#}
                                {#                                </li>#}
                                <li class="list-inline-item"><a
                                        href="{% url 'city_view' city.city_name %}">{{ city.city_name | title }}</a>
                                </li>
                            {% endfor %}
                            <hr>
                            <br><br>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}