{% extends 'advert/base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md">
                <div class="row">
                    {% for state in states %}
                        <div class="col-md-2">
                            <ul>
                                <h5 class="state">{{ state | title }}</h5>
                                {% for city in state.get_cities %}
                                    <li><a href="{{ city.city_name | slugify }}">{{ city.city_name | title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}